services:
  - type: web
    name: tripsync-backend
    env: python
    rootDir: backend
    buildCommand: pip install -r requirements.txt
    startCommand: uvicorn main:app --host 0.0.0.0 --port $PORT
    envVars:
      - key: MONGO_URI
        sync: false
      - key: MONGO_DB
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: SECRET_KEY
        sync: false
      - key: APP_HOST
        value: 0.0.0.0
      - key: APP_PORT
        value: $PORT
      - key: GROQ_API_KEY
        sync: false
